..settings/
.settings/**/*
build/
build/**/*
.classpath
.project
bin/
bin/*
target/
target/**/*
target/*
*.classsettings/
.settings/**/*
build/
build/**/*
.classpath
.project
bin/
bin/*
target/
target/**/*
target/*
*.class
.idea/**/*
.idea/**
.idea/
.idea/*
.idea/*.xml
